@font-face {
    font-family: 'tommy';
    src: url('./fonts/tommybold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
 
  @font-face {
    font-family: 'tommyregular';
    src: url('./fonts/tommyregular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  nav{
    font-family: 'tommyregular';
    text-align: center;
  }

  #fond-navbar{
    background-color: #f7f0ee !important;
  }

  #color-navbar{
    color: #6ed2a0 !important;
    font-family: 'tommy';
  }